<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adventure - Skill Mix</title>
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../assets/styles/menu.css">
  <link rel="stylesheet" href="../assets/styles/adventure.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.19.0/matter.min.js"></script>
  <script src="../js/menu.js"></script>
  
</head>
<body>
  <!-- Navigation -->
  <nav>
    <div class="menu">
      <button id="burger-menu" onclick="openMenu()">☰</button>
      <ul id="menu-items">
        <li><a href="../index.html">Back to the bubbles</a></li>
        <li><a href="adventure.html">Adventure</a></li>
        <li><a href="about.html">About me</a></li>
        <li><a href="work.html">My Work</a></li>
        <li><a href="curriculum.html">Curriculum vitae</a></li>
      </ul>
      <div id="overlay-menu">
        <button id="close-menu" onclick="closeMenu()">✖</button>
        <ul>
          <li><a href="../index.html" onclick="closeMenu()">Back to the bubbles</a></li>
          <li><a href="adventure.html" onclick="closeMenu()">Adventure</a></li>
          <li><a href="about.html" onclick="closeMenu()">About me</a></li>
          <li><a href="work.html" onclick="closeMenu()">My Work</a></li>
          <li><a href="curriculum.html" onclick="closeMenu()">Curriculum vitae</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <main>
    <div id="reload-icon">
      <img src="../assets/images/reload.svg" alt="Reload" onclick="location.reload();" />
    </div>
    <header id="message">
      <h1>Skill Mix</h1>
    </header>
    <canvas id="ballCanvas"></canvas>
    <script src="../js/adventure.js" defer></script>
  </main>
</body>
</html>