<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Curriculum Vitae</title>
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../assets/styles/work.css">
  <link rel="stylesheet" href="../assets/styles/menu.css">
  <script src="../js/menu.js"></script>
</head>
<body>
  <!-- Navigation -->
  <nav>
    <div class="menu">
      <button id="burger-menu" onclick="openMenu()">☰</button>
      <ul id="menu-items">
        <li><a href="../index.html">Back to the bubbles</a></li>
        <li><a href="adventure.html">Adventure</a></li>
        <li><a href="about.html">About me</a></li>
        <li><a href="work.html">My Work</a></li>
        <li><a href="curriculum.html">Curriculum vitae</a></li>
      </ul>
      <div id="overlay-menu">
        <button id="close-menu" onclick="closeMenu()">✖</button>
        <ul>
          <li><a href="../index.html" onclick="closeMenu()">Back to the bubbles</a></li>
          <li><a href="adventure.html"onclick="closeMenu()">Adventure</a></li>
          <li><a href="about.html" onclick="closeMenu()">About me</a></li>
          <li><a href="work.html" onclick="closeMenu()">My Work</a></li>
          <li><a href="curriculum.html" onclick="closeMenu()">Curriculum vitae</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <main>
      <main>
        <section class="vertical-container">
         
          
          <div class="content-item">
            <iframe src="https://pbv-immobilien.de/" title="PBV Immobilien"></iframe>
            <button onclick="window.open('https://pbv-immobilien.de/', '_blank')">Visit page</button>
          </div>
         
          <div class="content-item">
            <iframe src="https://ge.hackt.es/" title="GE Hackt"></iframe>
            <button onclick="window.open('https://ge.hackt.es/', '_blank')">Visit page</button>
          </div>
          <div class="content-item">
            <iframe src="https://edelweiss-reisen.de/" title="Alte Hölle"></iframe>
            <button onclick="window.open('https://edelweiss-reisen.de/', '_blank')">Visit page</button>
          </div>
          <div class="content-item">
            <iframe src="https://www.cadus.org/" title="Cadus"></iframe>
            <button onclick="window.open('https://www.cadus.org/', '_blank')">Visit page</button>
          </div>
          <div class="content-item">
            <iframe src="https://dachgeschwister.de/" title="Dachgeschwister"></iframe>
            <button onclick="window.open('https://dachgeschwister.de/', '_blank')">Visit page</button>
          </div>
        </section>
      </main>
    </main>
  </main>
  <main>
  </main>
</body>
</html>