
  /* Profil Header */
  .profile-container header {
    text-align: center;
    margin-top: 40px;
  }
  
  .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #c9d1d9;
    margin-bottom: 10px;
  }
  
  header h1 {
    margin: 10px 0 5px;
    font-size: 3rem;
    color: #c9d1d9;
  }
  
  .username {
    color: #8b949e;
  }
  
  .location {
    color: #c9d1d9;
    margin: 5px 0;
  }
  
  .linkedin {
    color: #5c489b;
  }
  
  /* Hauptinhalt */
main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
  section {
    margin-bottom: 30px;
    border: 1px solid #30363d;
    padding: 20px;
    border-radius: 8px;
    background-color: #161b22;
  }
  
  h2 {
    color: #c9d1d9;
    margin-top: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }

  p a {
    color: #5c489b;
    
  }

  p a:hover {
    font-weight: 700;
    
  }

  /* Social Media Icons */
.social-icons {
  margin-top: 30px;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

/* Contact Form */
#contact {
  margin-top: 30px;
  border: 1px solid #30363d;
  padding: 20px;
  border-radius: 8px;
  background-color: #161b22;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  color: #c9d1d9;
  font-weight: bold;
}

input, textarea, button {
  padding: 10px;
  border: 1px solid #30363d;
  border-radius: 4px;
  background-color: #0d1117;
  color: #c9d1d9;
}

input:focus, textarea:focus, button:focus {
  outline: 2px solid #5c489b;
}

button {
  cursor: pointer;
  background-color: #5c489b;
  color: white;
  font-weight: bold;
}

button:hover {
  background-color: #48347b;
}

.site-footer {
  background-color: #161b22;
  color: #c9d1d9;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  border-top: 1px solid #30363d;
  margin-top: 40px;
}

.site-footer a {
  color: #c9d1d9;
  margin: 0 8px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.site-footer a:hover {
  color: #5c489b;
}